
  <div class="cus-form" align="center" [formGroup]="loginForm">
    <h1>Login</h1>
    <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="username" formControlName="username">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="password" type="password" formControlName="password">
        </mat-form-field>
    </div>
    <div class="error"></div>
    <button mat-flat-button color="primary" (click)="login()">Login</button>
    <button mat-flat-button color="accent" (click)="register()">Register</button>
  </div>
  

  
