
::ng-deep .cus-form{
    padding: 2%;
    width: 20%;
    margin: 13% auto 0;
    background: #fff;
    -webkit-box-shadow: 1px -1px 8px 2px rgba(112,108,112,1);
    -moz-box-shadow: 1px -1px 8px 2px rgba(112,108,112,1);
    box-shadow: 1px -1px 8px 2px rgba(112,108,112,1);
    .mat-form-field{
        width: 100%;
    }
    h1{
        margin: 0;
        padding:0;
    }
    button{
        width: 48%;
        margin-right: 1%;
        margin-left:1%
    }
}