/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background: url("./assets/bg1.jpg") no-repeat;
    background-size: 100%;
}