
  <div class="cus-form" align="center" [formGroup]="registerForm">
      <h1>Register</h1>
      
      <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" formControlName="username">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>
      </div>
      <!-- <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Re-enter Password" formControlName="confirmPassword">
          </mat-form-field>
      </div> -->
      <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email ID" formControlName="email">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field>
              <mat-label>Type of User</mat-label>
              <mat-select formControlName="userType">
                <mat-option *ngFor="let type of usertypes" [value]="type.name">
                  {{type.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
      </div>
      <div class="error"></div>
      <button mat-flat-button color="accent" (click)="register()">Register</button>
    </div>